<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Aldi Duzha" />
    <meta name="description" content="Free Bulma Login Template, part of Awesome Bulma Templates" />
    <meta name="keywords" content="bulma, login, page, website, template, free, awesome" />
    <link rel="canonical" href="https://aldi.github.io/bulma-login-template/" />
    <title>Materials Project Profile</title>
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-social@1/bin/bulma-social.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.13.0/css/all.min.css" />
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <section class="hero is-fullheight">
      <div class="hero-body">
        <div class="container has-text-centered">
          <div class="column is-8 is-offset-2">
            <div class="box">
              <% if (username) { %>
              <h1 class="title has-text-white">Your Materials Project Profile</h1>
              <div class="columns has-text-white">
                  <div class="column has-text-weight-semibold has-text-right">Username</div>
                  <div class="column has-text-left"><%= username %></div>
              </div>
              <div class="columns has-text-white">
                  <div class="column has-text-weight-semibold has-text-right">API Key</div>
                  <div class="column has-text-left"><%= apikey %></div>
              </div>
              <div class="columns has-text-white">
                  <div class="column has-text-weight-semibold has-text-right">Groups</div>
                  <div class="column has-text-left"><%= groups %></div>
              </div>
              <% if (referrer) { %>
              <a class="button is-primary" href="<%= referrer %>">Back</a>
              <% } %>
              <a class="button is-danger" href="/logout">Logout</a>
              <% } else { %>
              <h1 class="title has-text-white">The Materials Project</h1>
              <form>
                  <!-- TODO set callback based on cookie or query param -->
                <div class="buttons is-centered" style="margin-bottom: 0;">
                  <a class="button is-medium is-github" href="/connect/github">
                    <span class="icon">
                      <i class="fab fa-github"></i>
                    </span>
                    <span>GitHub</span>
                  </a>
                  <a class="button is-medium is-youtube" href="/connect/google">
                    <span class="icon">
                      <i class="fab fa-google"></i>
                    </span>
                    <span>Google</span>
                  </a>
                  <a class="button is-medium is-facebook" href="/connect/facebook">
                    <span class="icon">
                      <i class="fab fa-facebook"></i>
                    </span>
                    <span>Facebook</span>
                  </a>
                  <a class="button is-medium is-microsoft" href="/connect/microsoft">
                    <span class="icon">
                      <i class="fab fa-microsoft"></i>
                    </span>
                    <span>Microsoft</span>
                  </a>
                  <!--
                  <a class="button is-medium is-linkedin" href="/connect/linkedin">
                    <span class="icon">
                      <i class="fab fa-linkedin"></i>
                    </span>
                    <span>LinkedIn</span>
                  </a>
                  <a class="button is-medium is-twitter" href="/connect/twitter">
                    <span class="icon">
                      <i class="fab fa-twitter"></i>
                    </span>
                    <span>Twitter</span>
                  </a>
                  -->
                  <a class="button is-medium is-openid" href="/connect/amazon">
                    <span class="icon">
                      <i class="fab fa-amazon"></i>
                    </span>
                    <span>Amazon</span>
                  </a>
                </div>
              </form>
              <% } %>
            </div>
          </div>
        </div>
      </div>
      <div class="hero-foot">
        <div class="container has-text-centered has-text-white">
          <p class="footer-text">
          If you’re having trouble logging in, or if you can't use any of the listed login providers,
          please <a class="is-link" href="mailto:feedback@materialsproject.org">email us</a> or post on our
          <a class="is-link" href="https://matsci.org/materials-project">forum</a>.
          </p>
        </div>
      </div>
    </section>
  </body>
</html>
